<% provide(:title, 'Home') %>
<h1>Butterflies</h1>
<%= image_tag('image001.gif') %>
<%= image_tag('image002.gif') %>
<%= image_tag('image003.gif') %>
<%= image_tag('image004.gif') %>
<%= image_tag('image005.gif') %>
<%= image_tag('image006.gif') %>
<%= image_tag('image007.gif') %>
<%= image_tag('image008.gif') %>
<%= image_tag('image009.gif') %>
<%= image_tag('image010.gif') %>
<%= image_tag('image011.jpg') %>
<%= image_tag('image012.gif') %>
<%= image_tag('image013.gif') %>